<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Zaloguj<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Gracze</a>
                <div class="dropdown-menu">
                    MENU1
                    MENU2
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Turnieje</a>
                <div class="dropdown-menu">
                    MENU3
                </div>
            </li>

        </ul>
        <ul class="navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="#">User: {{user.username}} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Wyloguj<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>